<div class="flex flex-col items-center min-h-screen bg-neutral-light">
  <!-- Section d'en-tête -->
  <div class="w-full text-center py-6 bg-primary-light text-neutral-light">
    <div class="text-5xl font-bold">Informations de {{ player.name }}</div>
    <div class="text-xl mt-2">{{ player.nickname }} | {{ player.sport }}</div>
  </div>

  <!-- Section principale -->
  <div class="flex flex-row w-full flex-grow">
    <!-- Section de l'image du joueur -->
    <div class="w-1/2 flex items-center justify-center bg-neutral-light p-6">
      <img [src]="player.image" alt="{{ player.name }}" class="w-2/3 h-auto object-contain rounded-lg shadow-lg"
        style="height: 50vh;">
    </div>

    <!-- Section des informations sur le joueur -->
    <div class="w-1/2 flex flex-col justify-start p-12">
      <div class="text-6xl font-black text-primary-light">{{ player.name }}</div>
      <div *ngIf="player.name" class="text-3xl font-semibold text-primary-light mt-4">{{ player.position.join(', ') }}
      </div>
      <div class="text-3xl font-semibold text-primary-light">{{ player.team }}</div>

      <div class="text-2xl font-medium text-primary-light mt-6">
        <span *ngIf="player.height" class="font-bold">Taille :</span> {{ player.height }} cm
      </div>
      <div class="text-2xl font-medium text-primary-light">
        <span *ngIf="player.weight" class="font-bold">Poids :</span> {{ player.weight }} kg
      </div>
      <div class="text-2xl font-medium text-primary-light">
        <span *ngIf="player.birthDate" class="font-bold">Âge :</span> {{ calculateAge(player.birthDate) }} ans
      </div>
      <div class="text-2xl font-medium text-primary-light mt-4">
        <span *ngIf="player.nationality" class="font-bold">Nationalité :</span> {{ player.nationality }}
      </div>
      <div class="text-2xl font-medium text-primary-light mt-4">
        <span *ngIf="player.placeOfBirth" class="font-bold">Lieu de naissance :</span> {{ player.placeOfBirth }}
      </div>
      <div class="text-xl font-light text-primary-light mt-6 italic">{{ player.information }}</div>
    </div>
  </div>

  <!-- Section d'informations supplémentaires -->
  <div class="w-full p-8 bg-neutral-light">
    <div class="max-w-6xl mx-auto">
      <!-- Section des équipes -->
      <div class="mb-8">
        <div class="text-4xl font-bold text-primary-light">Équipes</div>
        <ul class="mt-4 text-2xl text-primary-light">
          <li *ngFor="let team of player.teams">
            <button (click)="redirectToTeamPage(team.teamId)" class="hover:underline">
              <span class="text-primary-light">{{ team.teamName }}</span>
            </button>
          </li>
        </ul>
      </div>

      <!-- Section des récompenses -->
      <div class="mb-8">
        <div class="text-4xl font-bold text-primary-light">Récompenses</div>
        <ul class="mt-4 text-2xl text-primary-gold">
          <li *ngFor="let award of player.awards">{{ award }}</li>
        </ul>
      </div>

      <!-- Section des abonnés sur les réseaux sociaux -->
      <div>
        <div class="text-4xl font-bold text-primary-light">Abonnés sur les réseaux sociaux</div>
        <div class="mt-4 text-2xl text-primary-light">
          <div *ngIf="player.socialMediaFollowers[0]">
            <span class="font-bold text-primary-light">Instagram : </span>
            <span>{{ player.socialMediaFollowers[0] }}</span>
          </div>
          <div *ngIf="player.socialMediaFollowers[1]">
            <span class="font-bold text-primary-light">Twitter : </span>
            <span>{{ player.socialMediaFollowers[1] }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>