<div class="carousel carousel-center rounded-box h-64">

  <button (click)="sendApiCarousel('association football')">
    <div class="carousel-item">
      <img src="football.png" alt="Football" class="border border-gray-300 rounded" />
    </div>
  </button>
  <button (click)="sendApiCarousel('basketball')">
    <div class="carousel-item">
      <img src="basketball.png" alt="Basketball" class="border border-gray-300 rounded" />
    </div>
  </button>
  <button (click)="sendApiCarousel('volleyball')">
    <div class="carousel-item">
      <img src="volleyball.png" alt="Volleyball" class="border border-gray-300 rounded" />
    </div>
  </button>
  <button (click)="sendApiCarousel('tennis')">
    <div class="carousel-item">
      <img src="tennis.png" alt="Tennis" class="border border-gray-300 rounded" />
    </div>
  </button>
  <button (click)="sendApiCarousel('American football')">
    <div class="carousel-item">
      <img src="rugby.png" alt="Rugby" class="border border-gray-300 rounded" />
    </div>
  </button>
  <button (click)="sendApiCarousel('boxing')">
    <div class="carousel-item">
      <img src="boxing.png" alt="Boxing" class="border border-gray-300 rounded" />
    </div>
  </button>
  <button (click)="sendApiCarousel('handball')">
    <div class="carousel-item">
      <img src="handball.png" alt="Handball" class="border border-gray-300 rounded" />
    </div>
  </button>

</div>