<div class="flex flex-col items-center w-full space-y-4">
    <div class="flex items-center justify-center space-x-2 w-full">
      <select class="select select-bordered bg-secondary-dark text-black max-w-xs">
        <option disabled selected>Sélectionner un filtre</option>
        <option>Filtrer par Pays</option>
        <option>Filtrer par Sport</option>
      </select>
  
      <input type="text" [(ngModel)]="newFilter" placeholder="Ecrire le filtre" class="input input-bordered bg-primary-dark w-full max-w-xs" />
      <button class="btn btn-primary bg-secondary" (click)="addFilter()">Ajouter</button>
    </div>
  
    <!-- List of filters -->
    <div *ngIf="filters.length > 0" class="w-full max-w-xs bg-gray-300 p-4 rounded">
      <ul class="list-disc list-inside">
        <li *ngFor="let filter of filters; let i = index" class="text-primary flex items-center justify-between">
          <span>{{ filter }}</span>
          <button class="text-red-500 ml-1" (click)="removeFilter(i)">x</button>
        </li>
      </ul>
    </div>
  </div>